.cell {
    flex-basis: 10%;
    position: relative;
    border: 1px solid #777;
    cursor: pointer;
    user-select: none;
    transition: background .1s ease;
}

.cell:before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.cell_type_empty {
    background-color: #ddd;
}

.cell_type_ship {
    background-color: #000;
}

.cell_type_miss {
    background-color: #aaa;
    cursor: default;
}

.cell_type_sunken {
    background-color: #f80;
    cursor: default;
}
