.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;

    animation: fadeIn .5s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over__reset-progress {
    cursor: pointer;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
